<form id="palindrome_tester" action="/check" method="post">
  <textarea class="palindrome-text"name="phrase" rows="10"></textarea>
  <br>
  <button class="form-submit" type="submit">Is it a palindrome?</button>
</form>